
@{
    ViewBag.Title = "Cliente";
}

<form name="cadastro" method="post">
    <h2>Cadastro de Cliente</h2>
    <p>
        <label for="nome">Nome: </label><br>
        <input type="text" name="nome" required>
    </p>
    <p>
        <label for="email">E-mail: </label><br>
        <input type="email" name="email" required>
    </p>
    <p>
        <label for="cpf">CPF: </label><br>
        <input type="text" name="cpf" required>
    </p>
    <button type="submit" name="cadastrar" class="btn btn-success">Cadastrar!</button>
</form>




